* {
    font-family: 'SF Pro', Helvetica, Arial, sans-serif;

}

body {
    overflow-x: hidden;
}

.headimg {
    background-image: url(media/hero.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    margin: -8px;
    text-align: right;
    padding-bottom: 7.5%;

}

.us {
    width: 15px;
    height: 15;
    margin-right: -460px;
}

a {
    font-family: SF Pro, Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-transform: uppercase;
}

.nav {
    position: fixed;
    width: 100%;
}

.nav1 {
    padding-top: 41px;
    display: inline-block;
    padding-right: 11.7%;
}

.search {
    padding-right: 68px;
    padding-left: 68px;
    ;
}

.nav2 a {
    padding-top: 41px;
    display: block;
    text-align: left;
    padding-left: 45px;
}

.unisex,
.men,
.women {
    margin-top: -36px;
}

.productsGrid {
    display: flex;
    padding: 0px 150px;
    flex-wrap: wrap;
    flex-direction: row;
}

/* .productsGrid {
    display: flex;
    padding: 0px 150px;
    flex-wrap: nowrap;
    flex-direction: row;
    overflow-y: scroll;
    scrollbar-width: none; 
    }*/


.product {
    padding-bottom: 70px;
    width: 33.3%;
}

.p_name,
.p_color,
.p_price {
    text-align: center;
    font-size: 14px;
    font-weight: 700;
}


.p_color {
    opacity: .35;
    font-size: 12px;
}

.p_price {
    margin-top: -10px;
}

.footer {
    padding-top: 90px;
    padding-bottom: 150px;
    text-align: center;
    line-height: 1;

}

.b_link {
    display: inline;
    font-family: "SF Pro", Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    margin: 10px;
}

.copy {
    display: inline;
    font-family: "SF Pro", Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 14px;
    margin: 10px;
}

.pic {
    width: 370px;
    height: 370px;
    margin-left: auto;
    margin-right: auto;
    background-size: 370px;
    cursor: pointer;
    margin-bottom: 35px;
}